/*
!/dmenu/
/dmenu/*.o
/dmenu/dmenu
!/slstatus/
/slstatus/*.o
/slstatus/slstatus
!/newsboat/config
!/.gitignore
!/scripts/
!/kitty/
!/nvim/
/nvim/autoload/
!/i3/
!/rofi/
!/thunar/
!/X11/
!/mpv/
!/bash/
!/zathura/
!/qBittorrent/themes
!/qBittorrent/qBittorrent.conf
!/lf/
!/helix/
!pkglist.txt
!/zsh/